button.match {

	aspect-ratio: 374.1 / 647;

	@apply block min-w-12 sm:min-w-16 lg:min-w-20 xl:min-w-24 rounded-lg transition-all duration-100 outline outline-4 outline-transparent;

	&[data-playable="true"] {

		svg {
			filter: drop-shadow(0.2rem 0rem 3px rgba(0,0,0,0));
			@apply transition-all translate-y-0 duration-100 scale-75;
		}

		&:disabled {
			@apply opacity-60 grayscale;
		}

		&[data-taken="true"] {
			@apply opacity-0;
		}

		&:enabled {
			&:hover {
				@apply outline outline-slate-300 outline-4;
			}
			&:hover,
			&[data-selected="true"],
			&:is(.peer:has(button:enabled[data-selected="true"]) ~ .peer button),
			&:is(.peer:has(button:enabled:hover) ~ .peer button)
			{

				svg {
					@apply -translate-y-[1.5rem] scale-100;
					filter: drop-shadow(0.2rem 1.5rem 3px rgba(0,0,0,.1));
				}

			}
	}

	}
}